.navbar-brand img {
    max-height: 50px;
}

.navbar .navbar-nav .nav-link {
    margin-right: 0.2em;
    color: var(--almost-white);
    text-align: center;
}

.navbar .navbar-nav .nav-link:hover {
    background-color: var(--one-dark);
    transition: 0.2s;
    border-radius: 25px;
    color: white;
}