<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="../">
            <img class="img-responsive" src="../images/navbar-brand.png" alt="navbar-brand" height="50px">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#dukeMenu" aria-controls="dukeMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="dukeMenu">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li id="nav-link-home" class="nav-item">
                    <a class="nav-link" href="../">Home</a>
                </li>
                <li id="nav-link-collaboratori" class="nav-item">
                    <a class="nav-link" href="../collaboratori/">Collaboratori</a>
                </li>
            </ul>
        </div>
    </div>
</nav>