<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="https://github.com/DukeEdivad05">
            <img class="img-responsive" src="../images/navbar-brand.png" alt="navbar-brand" height="50px">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#dukeMenu" aria-controls="dukeMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="dukeMenu">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li id="nav-link-home" class="nav-item">
                    <a class="nav-link" href="../">Home</a>
                </li>

                <li id="nav-link-collaboratori" class="nav-item">
                    <a class="nav-link" href="../collaboratori">Collaboratori</a>
                </li>

                <li id="nav-link-calcoli" class="nav-item">
                    <a class="nav-link" href="../calcoli">Calcoli</a>
                </li>

                <li id="nav-link-orologio" class="nav-item">
                    <a class="nav-link" href="../orologio">Orologio</a>
                </li>
                
                <li id = "nav-link-programmazione" class="nav-item">
                    <div class="dropdown nav-item">
                        <button class="bottone-tendina nav-link dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                          Programmazione
                        </button>
                        <ul class="dropdown-link dropdown-menu" aria-labelledby="dropdownMenuButton1">
                          <li>
                              <a class="dropdown-item" href="../python" style="color: var(--almost-white); text-align: center;">Python</a></li>
                          <li>
                              <a class="dropdown-item" href="../java" style="color: var(--almost-white); text-align: center;">Java</a></li>
                        </ul>
                      </div>
                </li>
            </ul>
        </div>
    </div>
</nav>