
<footer id="specialthanksfooter" class="bg-primary footer" style="height: 140px;">
    <p>
        Special Thanks to: <br>
        <a href="https://bisumto.it/" target="_blank"><img src="https://bisumto.it/images/navbar-brand.png" height="50px"></a>
        <a href="https://www.ywitch.tv/LoreSchaeffer" target="_blank"><img src="../images/LoreSchaeffer.png" alt="LoreSchaeffer's logo" height="50px"></a>
        <a href="https://multicore.network/" target="_blank"><img src="https://multicore.network/images/logo-round.png" height="50px"></a>
    </p>
</footer>