#header {
    text-align: center;
    font-variant: small-caps;
}
#header h1 {
    line-height: 1;
}
#title {
    text-align: center;
    font-variant: small-caps;
}
#content {
    text-align: center;
}
#back {
    text-decoration: none;
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    cursor: pointer;
    width: 150px;
    padding: 10px 20px;
    border: 1px solid var(--one-dark);
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font: normal 16px/normal "lato", Helvetica, sans-serif;
    color: rgba(255, 255, 255, 0.9);
    -o-text-overflow: clip;
    text-overflow: clip;
    background: var(--two-dark);
}
#back:hover{ 
    text-decoration: none; 
    background: var(--one-dark);
}
#list {
    text-decoration: none;
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    cursor: pointer;
    width: 150px;
    padding: 10px 20px;
    border: 1px solid var(--two-dark);
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font: normal 16px/normal "lato", Helvetica, sans-serif;
    color: rgba(255, 255, 255, 0.9);
    -o-text-overflow: clip;
    text-overflow: clip;
    background: var(--one-dark);
}
#list:hover{ 
    text-decoration: none; 
    background: var(--one-dark);
}
#errorContainer h1{
    margin-top: -2%;
    font-size: 20vw;
    line-height: normal;
}
#errorContainer h2{
    margin-top: -3%;
}