.day {
    display:inline-table;
    width: 33%;
}

.borderCont {
    border:1px solid;
    border-color: black;
    border-radius: 15px;
}

.borderName {
    border:1px solid;
    border-color: black;
    border-radius: 15px;
    margin-bottom: .5rem;
    text-align: center;
}

.calendar {
    margin: 10px;
}

.cont{
    margin-left: 5px;
    margin-right: 5px;
}

h6{
    text-align: center;
}

.separator {
    border-top: 1px solid;
    border-color: black;
}