#txt{
    text-decoration: none;
    color: black;
    font-family: Arial;
    font-size:50px;
}

.left-minus-button{
    /* margin: 0;
    position: absolute;
    top: 83%;
    left: 0.5%;
    -ms-transform: translate(-0.5%, -83%);
    transform: translate(-0.5%, -83%); */
    display: grid;
    place-items:center;
}

.right-plus-button{
    margin: 0;
    position: absolute;
    top: 83%;
    left: 99.5%;
    -ms-transform: translate(-99.5%, -83%);
    transform: translate(-99.5%, -83%);
}

.button{
    /* display: inline-block; */
    /* -webkit-box-sizing: content-box; */
    /* -moz-box-sizing: content-box; */
    box-sizing: content-box;
    width: 22px;
    padding: 10px 10px;
    border: 1px solid var(--one-dark);
    border-radius: 25px;
    background: white;
}

.button:hover{
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    cursor: pointer;
    width: 22px;
    padding: 10px 10px;
    border: 1px solid var(--one-dark);
    -webkit-border-radius: 3px;
    border-radius: 25px;
    color: rgba(255, 255, 255, 0.9);
    -o-text-overflow: clip;
    text-overflow: clip;
    background: var(--one-dark);
}